.d3-social-sharing-icon {
	position: relative;
	margin-right: 5px;
}

.d3-social-sharing-icon:hover {
	
}

.d3-social-sharing-icon .likes {
	position: absolute;
	bottom: -15px;
	line-height: 15px;
	background: #ccc;
	color: black;
	display: block;
	width: 100%;
	text-align: center;
	font-size: 10px;
}